@media (max-width:600px) {

    .card {
         margin-bottom: 10%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    p{
        text-align:justify !important;
        margin-left: auto;
        margin-right: auto;

    }
    .mbl{
        display: none;
    }
    .mbl-1{
        margin-top: 8%!important;
    }
    .hero{
        padding-top: 40%;
    }
    .btn-1{
        width:50%
    }
   .histroy p{
      text-align: center!important;
   }
   .histroy h4{
    margin-left: 16%!important;
    margin-top: 5%;
   }
   .procedure .card{
    text-align: center!important;
   }
   .contact .btn-1{
    width:60%;
    padding-bottom:12%!important;
    margin-left: -1%!important;
   }
  .sub-hero{
    padding: 30% 0%;
  }
  .sub-hero h1{
    padding-top: 20%;
  }
  .abt-1 .btn-1{
    width:70%;
  }

}